ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    z-index: 1;
  }
  .float-left{
    float: left;
  }
  .pl-8{
    padding-left: 8px;
  }
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  .float-right{
    float: right;
  }
  ul.topnav li {float: left;}
  ul.topnav li img{
    padding: 8px 32px 1px 32px;
  }
  ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 13px 10px 15px 10px;
    text-decoration: none;
  }
  
  ul.topnav li a:hover:not(.active) {background-color: #111;}
  
  ul.topnav li a.active {background-color: #4CAF50;}
  
  ul.topnav li.right {float: right;}
  
  @media screen and (max-width: 600px) {
    ul.topnav li.right, 
    ul.topnav li {float: none;}
  }